@tailwind base;
@tailwind components;
@tailwind utilities;

.btn1 {
  @apply px-4 py-1 rounded-full transition font-semibold hover:opacity-90;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
